<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYmrO7ftkysUyz-pToRqsTdsQKURENzDg</string>
	<key>GCM_SENDER_ID</key>
	<string>923340593876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watchlist.shows</string>
	<key>PROJECT_ID</key>
	<string>my-movies-and-tvs-show-list</string>
	<key>STORAGE_BUCKET</key>
	<string>my-movies-and-tvs-show-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923340593876:ios:7c16bd4c80240e528e3941</string>
</dict>
</plist>